<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Transliteratr</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/transliterator.css">
    </head>
    <body class="cf">

      <div class="controlPanel">
        <h1>transliteratr.</h1>
        <form method="post" action="/paint">
          <textarea name="uncolored_text" placeholder="Enter some text and press enter. Try a passage from your favorite novel!" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"></textarea>
          <select name="palettes">
            <option name="original" value="original">Original</option>
            <option name="random" value="random">Random</option>
            <option name="midnight" value="midnight">Midnight</option>
            <option name="spring" value="spring">Spring</option>
          </select>
          <select name="shape">
            <option name="square" value="square">Square</option>
            <option name="circle" value="circle">Circle</option>
            <option name="triangle" value="triangle">Triangle</option>
          </select>
          <select name="size">
            <option name="small" value="small">Small</option>
            <option name="medium" value="medium">Medium</option>
          </select>
          <span class="checkbox"><input type="checkbox" name="magical" value="magical"> Magical</span>
        </form>
        <form class="signout" method="post" action='/signout'>
          <input type="submit" name="signout" value="Sign Out">
        </form>
      </div>
      <div class="canvas">
        <%= yield %>
      </div>








      <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/js/business-logic.js"></script>
      <script type="text/javascript">

      </script>
    </body>
</html>
