 <body class="blue">
  <div class="logo"></div>
  <div class="main">
    <h1 class="title">transliteratr.</h1>
    <form class="signup" method="post" action="/signup">
      <div class="inputs">
        <input type="text" name="username" placeholder="Username" >
        <input type="password" name="password" placeholder="Password" >
      </div>
      <input type="submit" name="submit" value="Color Me In!">
    </form>
  </div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/business-logic.js"></script>
</body>